@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  text-align: center;
  font-family: "Lato";
}

.App-background {
  background-color: #6a7a8a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

li {
  display: flex;
  list-style: none;
  border-radius: 15px;
  width: 780px;
  background-color: #3c4045;
  margin-bottom: 25px;
  padding: 30px;
}

img {
  height: 175px;
}

.drink-info {
  text-align: left;
  margin-left: 10px;
}

.beer-desc {
  font-family: "Lato";
  font-size: 30px;
}